@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes pulseColor {
    0%, 100% {
      color: #8D8D8D;
    }
    50% {
      color: theme('textColor.secondary.200');
      stroke: theme('colors.secondary.200');
    }
  }
  @keyframes pulseLine {
    0%, 100% {
      fill: #8D8D8D;
    }
    50% {
      fill: theme('colors.secondary.200');
    }
  }
  .animate-pulse-color {
    animation: pulseColor 3s linear infinite;
  }
  .animate-pulse-line {
    animation: pulseLine 3s linear infinite;
  }

  .slide-track {
    @apply flex;
    animation: scroll 7s linear infinite;
  }

  @keyframes scroll {
    100% {
      transform: translateX(-1500px);
    }
  }
}

@layer base {
  @font-face {
    font-family: Outfit;
    src: url("/fonts/Outfit/Outfit-VariableFont_wght.ttf");
  }

  progress::-moz-progress-bar {
    @apply bg-secondary-200;
  }

  progress::-webkit-progress-value {
    @apply bg-secondary-200;
  }

  progress {
    @apply text-secondary-200;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: textfield;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  body {
    @apply dark:bg-black;
  }
}

@layer components {
  .login-link {
    @apply text-md underline hover:text-primary-300;
  }
}
