@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .slide-track {
    @apply flex;
    animation: scroll 7s linear infinite;
  }

  @keyframes scroll {
    100% { transform: translateX(-1500px); }
  }
}

@layer base {
  @font-face {
    font-family: Outfit;
    src: url("/fonts/Outfit/Outfit-VariableFont_wght.ttf");
  }

  progress::-moz-progress-bar {
    @apply bg-secondary-200;
  }

  progress::-webkit-progress-value {
    @apply bg-secondary-200;
  }

  progress {
    @apply text-secondary-200;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: textfield;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  body {
    @apply dark:bg-black;
  }
}

@layer components {
  .login-link {
    @apply text-md underline hover:text-primary-300;
  }
}
